@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/app/task/task.module.js"></script>
<script src="~/app/task/task.config.js"></script>
<script src="~/app/task/task.data.js"></script>


<div id="taskdiv">
    <!-- MAIN CONTENT -->
    <div>
        <div data-ui-view></div>
    </div>

</div>
<script>
    angular.element(document).ready(function () {
        var courseDiv = document.getElementById("taskdiv");
        angular.bootstrap(courseDiv, ["app.task"]);
    });

</script>